name: "{self.nodename}"
listen-peer-urls: "{self.etcd_listen_peer_urls}"
listen-client-urls: "{self.etcd_listen_client_urls}"
initial-advertise-peer-urls: "{self.etcd_connect_url}"
initial-cluster: "{self.cluster.etcd_initial_cluster}"
initial-cluster-state: "new"
initial-cluster-token: "{self.cluster.etcd_cluster_token}"
advertise-client-urls: "http://{self.connect_address}:2379"