name: "{nodename}"
listen-peer-urls: "{etcd_listen_peer_urls}"
listen-client-urls: "{etcd_listen_client_urls}"
initial-advertise-peer-urls: "{etcd_connect_url}"
initial-cluster: "{cluster.etcd_initial_cluster}"
initial-cluster-state: "new"
initial-cluster-token: "{cluster.etcd_cluster_token}"
advertise-client-urls: "http://{connect_address}:2379"